<p>Offside24's admin <%= @resource.email %></p>

<p>Hello! I am contacting you to notify you that your password has been changed. If that was not you, contact me on admin@offside24.net . Have a nice day :)</p>
