%footer.footer
  .footer-title
    %h1
      %a{:href => "https://offside24.net", :target => "_blank"} OFFSIDE24.net
    %ul.list-inline.social-1
      %li
        = link_to 'https://www.facebook.com/offside24net/', target: :_blank do
          %i.fa.fa-facebook

      %h6 &#xA9;2019-2020 Bra'Tac | All Rights Reserved
      %br/
      %h6 Code by Yasen Kostov
      %br/
      %h6
        %a{:href => "https://bratac.org", :target => "_blank"} Bra'Tac
