%footer.footer
  .footer-title
    %h1
      %a{:href => "https://bratac.net", :target => "_blank"} BraTac.net


      %h6 &#xA9;2019-2021 Offside24.net | All Rights Reserved
      %br/
      %h6
        %a{:href => "https://bratac.net", :target => "_blank"} Web Design and Code by BraTac.net
