%footer.footer
  .footer-title
    %h1 Offside24.net
     %li
        = link_to 'https://www.facebook.com/offside24net/', target: :_blank do
          %i.fa.fa-facebook
    %h6 admin@offside24.net
    %h5 &#xA9; 2019 Qskata_K | All Rights Reserved
