%footer.footer
  .footer-title
    %h1 Offside24.net
    %ul.list-inline.social-1
      %li
        = link_to 'https://www.facebook.com/offside24net/', target: :_blank do
          %i.fa.fa-facebook
    %h5 &#xA9; 2019-2020 Qskata_K | All Rights Reserved
    %h6 За реклама
      %li
        = link_to 'https://www.offside24.net/articles/83', target: :_blank do
