-#.mainbanner
-#  = link_to 'https://offside24.net' do
-#    = image_tag 'poi.jpg', { alt: 'Person Of Interest', title: 'Person of Interest'}

.mainbanner
  = link_to 'https://bg-bg.facebook.com/anet4eood' do
    = image_tag 'anet4.gif', { alt: 'https://bg-bg.facebook.com/anet4eood', title: 'Анет 4 - Хранителни магазини в Бургас'}



%script#cookieinfo{"data-bg" => "#645862", "data-close-text" => "Приемам!", "data-cookie" => "CookieInfoScript", "data-divlinkbg" => "#ffd61f", "data-fg" => "#ffd61f", "data-link" => "#F1D600", "data-linkmsg" => "Вижте повече информация тук", "data-message" => "Ние използваме така наречените 'бисквитки', с които получаваме по-добра информация относно сайта ни и го подобряваме. Използвайки ги, Вие се съгласявате със условията им.", "data-moreinfo" => "https://bg.wikipedia.org/wiki/HTTP-%D0%B1%D0%B8%D1%81%D0%BA%D0%B2%D0%B8%D1%82%D0%BA%D0%B0", "data-text-align" => "left", src: "//cookieinfoscript.com/js/cookieinfo.min.js", type: "text/javascript"}
  :cdata
