.mainbanner
  = link_to 'https://bg-bg.facebook.com/anet4eood' do
    = image_tag 'anet4.gif', { alt: 'https://bg-bg.facebook.com/anet4eood', title: 'Анет 4 - Хранителни магазини в Бургас'}

-#.mainbanner
-#  = link_to 'http://www.autodoc.bg' do
-#    = image_tag 'autodoc_468x60.gif', { alt: 'http://AutoDoc.BG', title: 'Голямо разнообразие на автомобилни части за всяка кола'}
